<div class="room-buttons">
  <a class="room-button" href="/join-room"><i class="fas fa-door-open"></i> Join Room</a>
  <a class="room-button" href="/create-room"><i class="fas fa-plus-circle"></i> Create Room</a>
</div>

<h1 class="page-title">Mah-Jong Points Calculator</h1>

<div class="limit-container">
	<label for="limit-input">Limit:</label>
	<input type="text" id="limit-input" name="limit" min="0" value="1000/2000">
</div>

<div class="grid-container">
  {{#each players}}
    {{> playerCard this}}
  {{/each}}
</div>

<div class="action-container">
    <button class="general-button" onclick="calculatePoints()">
      <i class="fas fa-calculator"></i> Calculate Points
    </button>
  </div>

<div class="results-container">
	<h2>Results</h2>
	<table class="results-table">
		<thead>
			<tr>
				<th>Player</th>
				<th>Base Points</th>
				<th>Est Wind</th>
				<th>Mah-Jong</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody id="results-body">
			<!-- I risultati verranno inseriti qui via JS -->
		</tbody>
	</table>
</div>
<div class="results-container">
	<h2>Scoreboard</h2>
	<div class="results-table-wrapper">
		<table class="results-table" id="scoreboard">
			<thead>
				<tr>
					<th>Player</th>
					{{#each games}}
						<th>Game {{@index}}</th>
					{{/each}}
					<th>Total</th>
				</tr>
			</thead>
			<tbody id="scoreboard-body">
				{{#each scoreboard}}
					<tr data-player-index="{{@index}}"></tr>
						<td>{{this.name}}</td>
						{{#each this.scores}}
							<td>{{this}}</td>
						{{/each}}
						<td>{{this.total}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>

